.carousel{
  &__slide {
    padding: 10px;
  }
  &__prev{
    font-size: 18px !important;
    color: #1c1c1c !important;
    height: 70px !important;
    width: 30px !important;
    line-height: 70px !important;
    text-align: center !important;
    border: 1px solid #ebebeb !important;
    position: absolute !important;
    left: -45px !important;
    top: 50% !important;
    -webkit-transform: translateY(-35px) !important;
    background: #ffffff !important;
  }
  &__next{
    left: auto !important;
    right: -45px !important;
    font-size: 18px !important;
    color: #1c1c1c !important;
    height: 70px !important;
    width: 30px !important;
    line-height: 70px !important;
    text-align: center !important;
    border: 1px solid #ebebeb !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translateY(-35px) !important;
    background: #ffffff !important;
  }
}
